.fade_in {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fade_out {
  animation: fadeOut 0.2s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.move_up {
  animation: moveUp 0.2s ease-in-out;
}

@keyframes moveUp {
  0% {
    transform: translate(-50% 0);
  }
  100% {
    transform: translate(-50% -50%)
  }
}

.move_down {
  animation: moveDown 0.2s ease-in-out;
}

@keyframes moveDown {
  0% {
    transform: translate(-50% -50%)
  }
  100% {
    transform: translate(-50 0);
  }
}
